:root {
  --sds-color-icon-default-default: #1e1e1e;
  --sds-color-text-brand-on-brand-secondary: #1e1e1e;
  --sds-typography-body-size-medium: 16;
  --sds-typography-body-font-family: Inter;
  --sds-typography-body-font-weight-regular: 400;
  --Single-Line-Body-Base: Font(family: "var(--sds-typography-body-font-family)", style: Regular, size: var(--sds-typography-body-size-medium), weight: var(--sds-typography-body-font-weight-regular), lineHeight: 1, letterSpacing: 0);
  --sds-size-space-200: 8;
  --sds-size-radius-200: 8;
  --sds-color-background-brand-tertiary: #f5f5f5;
  --sds-color-text-default-default: #1e1e1e;
  --sds-responsive-border-width: 1;
  --sds-size-stroke-border: 1;
  --sds-color-background-neutral-tertiary: #e3e3e3;
  --sds-color-border-neutral-secondary: #767676;
  --sds-color-text-brand-on-brand: #f5f5f5;
  --sds-color-background-brand-default: #2c2c2c;
  --sds-color-border-brand-default: #2c2c2c;
  --sds-size-space-300: 12;
  --sds-size-space-600: 24;
  --sds-size-space-800: 32;
  --sds-responsive-device-width: 1200;
  --sds-color-background-default-default: #ffffff;
  --sds-color-border-default-default: #d9d9d9;
}
